@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import 'variables';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color:map-get($color,"DarkBlue");
    display: grid;
    place-content: center;
    padding: 0 3em;
}